.title {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  border: dashed 1px red;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display:flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  padding: 40px 0;
  font-family: pt_serifregular, arial,helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}
