.title {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 56%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 600 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  position: relative;
  height: 1920px;
  display: block;
  align-items: center;
  padding-right: 63%;
  background: top right no-repeat url(img/maining.svg);
}

.main_title {
  position: relative;
  margin: 0 0 40px 0;
  margin-bottom: 40px;
  font: 700 50px/65px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main_subtitle {
  position: relative;
  margin: 0 0 41px 0;
  font: 18/21px Roboto, arial, helvetica, sans-serif;
}

.main_button {
  position: relative;
  display: inline-block;
  padding: 14px 16px;
  font: 600 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}
