.title {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display:flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 56%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 600 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}
