.title {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display:flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  background: #c8dbfb;
  left: 8px;
  top: 56%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
  margin: 1px 7px -5px 0;
}

.menu__item {
  position: relative;
  margin-right: 28px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.burger-menu {
  display: none;
}

.burger-menu_whale {
  width: 25px;
  height: 3px;
  background: #0056ec;
}

.main {
  position: relative;
  padding-bottom: 250px;
  top: 32px;
  display: block;
  align-items: center;
  padding-right: 64%;
  background: top right no-repeat url(img/mainimg.svg);
}

.main__title {
  position: relative;
  top: 73px;
  left: -10px;
  margin: -2px -20px 40px 10px;
  margin-bottom: 40px;
  font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  position: relative;
  top: 70px;
  left: -10px;
  margin: 0 90px 41px 8px;
  margin-top: 30px;
  margin-bottom: 41px;
  font: 500 22px/26px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  position: relative;
  top: 72px;
  right: 8px;
  display: inline-block;
  padding: 18px 21px;
  margin: -1px 0 40px 9px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 768px) {
  .logo__text,
  .menu {
    display: none;
  }

  .burger-menu {
    position: absolute;
    left: 87%;
    top: 5%;
    width: 25px;
    height: 17px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    margin-bottom: 28px;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 95%;
    justify-content: space-between;
  }

  .main__title {
    margin-bottom: 44px;
    font: 700 30px/39px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    left: 42px;
    margin-bottom: 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    left: 10px;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
  }

  .mobile_menu {
    display: none;
  }

  .wrapper {
    margin: auto;
    width: 80%;
  }

  .menu {
    margin: 0;
    position: relative;
    left: 51px;
    top: 20px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    margin-right: 21px;
  }

  .main {
    position: relative;
    padding-bottom: 100px;
    top: 28px;
    display: block;
    align-items: center;
    padding-right: 50%;
    background-size: 60%;
  }

  .main__title {
    font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
    position: relative;
    left: -20px;
    top: 140px;
    margin-bottom: 40px;
  }

  .main__subtitle {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    position: relative;
    margin: 0 10px 41px 8px;
    margin-bottom: 41px;
    left: 46px;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    position: relative;
    padding: 18px 21px;
    display: inline-block;
  }
}

@media (max-width: 1366px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .mobile_menu {
    display: none;
  }

  .wrapper {
    margin: auto;
    width: 80%;
  }

  .logo {
    left: 78px;
    display: inline-block;
  }

  .menu {
    position: relative;
    left: -5px;
    top: 5px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    margin-right: 21px;
  }

  .main {
    position: relative;
    margin: 0;
    margin-top: 0;
    margin-left: 80px;
    padding-bottom: 150px;
    display: block;
    align-items: center;
    padding-right: 50%;
    background-size: 50%;
  }

  .main__title {
    position: relative;
    margin: 0;
    margin-top: 70px;
    margin-bottom: 40px;
    font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    position: relative;
    margin: 0 90px 41px 8px;
    margin-top: 30px;
    margin-bottom: 41px;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 18px 21px;
    margin: -1px 0 40px 9px;
  }
}
